/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

#button1 {
    position:absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main-content {
    margin: 20px;
}

#quiz-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #4e8b50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4a8b4d;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#registerForm, #loginForm {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    padding: 20px;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option {
    flex: 0 0 45%;
    margin: 5px;
}

#result-container {
    text-align: center;
    padding: 20px;
}
